<h1>Find a recipe</h1>

<p>For which <strong>ingredient</strong> (e.g. chicken) do you want recipes?</p>

<form action="/imports" method="post">
  <div>
    <label for="name"></label>
    <input type="text" name="ingredient">
  </div>
  <div>
  <br>
  <input type="submit" value="Search for recipes">
</form>
